body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Helvetica, Arial, sans-serif;
}
.selected {
    color:white;
    pointer-events: none;
    text-decoration: underline !important;
}
.ul_header {
  background-color: #111;
  padding: 0;
}
.ul_li {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.ul_li a:link, .ul_li a:visited  {
    color: white;
    text-decoration: none;
}

.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

